 .u-section-1 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mostafa-commerce.appspot.com/o/carousel-Images%2Fhigh1.png?alt=media&token=4f6be757-067b-4c18-b51d-80bbecc182fa");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 678px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 664px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mostafa-commerce.appspot.com/o/carousel-Images%2FRedModernFormalFacebookProfilePicture9.png?alt=media&token=5ad16702-e44e-4fe6-bd48-803b2fed2492");
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 664px;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 0;
}

.u-section-1 .u-image-2 {
  width: 542px;
  height: 542px;
  margin: 54px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 28.8px;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -528px 50px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.5rem;
  border-style: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 442px auto 0;
  padding: 10px 52px 10px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
    min-height: 550px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 550px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 2px;
  }

  .u-section-1 .u-image-2 {
    height: auto;
    margin-top: 23px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: 370px;
    margin-top: -470px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    --radius: 4px;
    margin-top: 397px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 57px;
  }

  .u-section-1 .u-image-1 {
    min-height: 396px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 762px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: 349px;
    margin-top: -1086px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 989px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1038px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 109px;
  }

  .u-section-1 .u-image-1 {
    min-height: 318px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 612px;
  }

  .u-section-1 .u-image-2 {
    height: 628px;
    width: 993px;
    margin-top: -55px;
    margin-left: -226px;
    margin-right: -226px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -936px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 863px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -114px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 508px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 370px;
  }

  .u-section-1 .u-image-2 {
    height: 427px;
    width: 427px;
    margin-top: -99px;
    margin-left: -43px;
    margin-right: -43px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -1210px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.125rem;
    margin-top: 1166px;
  }
} .u-section-2 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mostafa-commerce.appspot.com/o/carousel-Images%2Fhigh4.png?alt=media&token=c7d5f48d-7cfd-4a34-8248-ff5e517820af");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 678px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 554px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 355px;
  height: 334px;
  object-position: 100% 50%;
  margin: -12px 25px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 339px;
  height: 339px;
  margin: -132px 33px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 554px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  height: 551px;
  width: 1036px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 -314px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 529px;
  }

  .u-section-2 .u-image-1 {
    height: 325px;
    margin-top: 64px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    margin: -185px auto -14px 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 529px;
  }

  .u-section-2 .u-image-3 {
    height: 401px;
    width: 801px;
    margin-left: -206px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-2 .u-image-1 {
    height: 376px;
    width: 543px;
    margin-top: -27px;
    margin-right: auto;
    margin-left: -225px;
  }

  .u-section-2 .u-image-2 {
    height: auto;
    margin-top: -170px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 454px;
  }

  .u-section-2 .u-image-3 {
    width: 678px;
    height: 354px;
    margin-left: -222px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1135px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 653px;
  }

  .u-section-2 .u-image-1 {
    height: 509px;
    margin-top: 145px;
    margin-right: 0;
    margin-left: -3px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -702px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-2 .u-image-3 {
    width: 762px;
    height: 372px;
    margin-top: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-2 .u-image-1 {
    height: 245px;
    width: 271px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -142px;
    margin-bottom: -65px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-2 .u-image-3 {
    height: 266px;
    width: 507px;
    margin-top: 0;
    margin-bottom: -11px;
    margin-left: -167px;
  }
} .u-section-3 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mostafa-commerce.appspot.com/o/carousel-Images%2Fhigh8.png?alt=media&token=a5154560-3561-4559-8864-50a17b0540b5");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 551px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1096px;
  margin: 61px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 400px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 5px;
}

.u-section-3 .u-image-2 {
  width: 332px;
  height: 332px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 306px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 306px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 459px;
  }

  .u-section-3 .u-image-1 {
    width: 459px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 259px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: -73px;
    margin-right: 92px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-3 .u-image-1 {
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-3 .u-image-2 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mostafa-commerce.appspot.com/o/carousel-Images%2Fhigh9.png?alt=media&token=2cc99cd1-503f-4727-b0ee-955d696e2751");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 535px;
}

.u-section-4 .u-video-1 {
  width: 723px;
  height: 385px;
  margin: 144px auto 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-image-1 {
  width: 720px;
  height: 720px;
  margin: -846px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 547px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-video-1 {
    width: 720px;
    height: 383px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -844px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 287px;
  }

  .u-section-4 .u-image-1 {
    height: 540px;
    margin-top: -659px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-4 .u-video-1 {
    height: 181px;
    margin-top: 112px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    height: 340px;
    margin-top: -416px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mostafa-commerce.appspot.com/o/carousel-Images%2Fhigh9.png?alt=media&token=2cc99cd1-503f-4727-b0ee-955d696e2751");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 551px;
}

.u-section-5 .u-video-1 {
  width: 723px;
  height: 385px;
  margin: 162px auto 4px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-5 .u-video-1 {
    width: 720px;
    height: 383px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-5 .u-video-1 {
    width: 540px;
    height: 287px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 246px;
  }

  .u-section-5 .u-video-1 {
    height: 181px;
    margin-top: 65px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-6 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mostafa-commerce.appspot.com/o/carousel-Images%2Fhigh9.png?alt=media&token=2cc99cd1-503f-4727-b0ee-955d696e2751");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 551px;
}

.u-section-6 .u-video-1 {
  width: 723px;
  height: 385px;
  margin: 150px auto 16px;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-6 .u-video-1 {
    width: 720px;
    height: 383px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-6 .u-video-1 {
    width: 540px;
    height: 287px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-6 .u-video-1 {
    height: 181px;
    margin-top: 77px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1445px;
}

.u-section-7 .u-image-1 {
  width: 968px;
  height: 968px;
  margin: -23px auto 0 -303px;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto auto auto;
  margin: -709px 0 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 15.3333px) calc(33.3333% - 15.3333px) calc(33.3333% - 15.3333px);
  min-height: 1016px;
  grid-gap: 23px 23px;
  grid-auto-columns: calc(33.3333% - 15.3333px);
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-7 .u-image-2 {
  width: 197px;
  height: 197px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mostafa-commerce.appspot.com/o/carousel-Images%2FRedModernFormalFacebookProfilePicture3.png?alt=media&token=206485eb-21bd-4001-b3e4-fec62a23d6e2");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 49px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 28px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-7 .u-image-3 {
  width: 197px;
  height: 197px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mostafa-commerce.appspot.com/o/carousel-Images%2FRedModernFormalFacebookProfilePicture4.png?alt=media&token=94169a92-86b5-411a-b541-e3693f7ff742");  background-position: 50% 50%;
  animation-duration: 1000ms;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 49px auto 0;
}

.u-section-7 .u-text-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 28px 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-7 .u-image-4 {
  width: 197px;
  height: 197px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mostafa-commerce.appspot.com/o/carousel-Images%2Fchannels4_profile1.png?alt=media&token=d0645b55-a5b5-4988-88eb-3add725d3ee9");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 49px auto 0;
}

.u-section-7 .u-text-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 28px 0 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-7 .u-image-5 {
  width: 197px;
  height: 197px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mostafa-commerce.appspot.com/o/carousel-Images%2FRedModernFormalFacebookProfilePicture7.png?alt=media&token=5bd78e9c-8738-4f36-97db-7c2b21de410f");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-7 .u-text-7 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 49px auto 0;
}

.u-section-7 .u-text-8 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 28px 0 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-7 .u-image-6 {
  width: 197px;
  height: 197px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mostafa-commerce.appspot.com/o/carousel-Images%2Fshref.png?alt=media&token=01aa995e-68f5-46db-aa9c-4082ef0a70d1");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-7 .u-text-9 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 49px auto 0;
}

.u-section-7 .u-text-10 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 28px 0 0;
}

.u-section-7 .u-image-7 {
  width: 833px;
  height: 833px;
  margin: -640px auto 0;
}

.u-section-7 .u-image-8 {
  width: 743px;
  height: 743px;
  margin: -795px auto 0 -191px;
}

.u-section-7 .u-image-9 {
  width: 968px;
  height: 968px;
  margin: -1393px -302px 0 auto;
}

.u-section-7 .u-image-10 {
  width: 968px;
  height: 968px;
  margin: -980px auto 0;
}

.u-section-7 .u-image-11 {
  width: 1059px;
  height: 1059px;
  margin: -948px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1380px;
  }

  .u-section-7 .u-image-1 {
    margin-left: -332px;
  }

  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 15.3333px));
    min-height: 834px;
    grid-auto-columns: calc(33.333333333333336% - 15.3333px);
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    animation-duration: 1000ms;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-7 {
    margin-top: -604px;
  }

  .u-section-7 .u-image-8 {
    margin-top: -783px;
    margin-left: -225px;
  }

  .u-section-7 .u-image-9 {
    margin-top: -1332px;
    margin-right: -349px;
  }

  .u-section-7 .u-image-10 {
    height: 940px;
    margin-top: -973px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-11 {
    height: 940px;
    margin-top: -934px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1891px;
  }

  .u-section-7 .u-image-1 {
    width: 1012px;
    height: 1012px;
    margin-top: 0;
    margin-right: 47px;
    margin-left: -339px;
  }

  .u-section-7 .u-list-1 {
    margin-top: -734px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11.499975px));
    min-height: 1469px;
    grid-auto-columns: calc(50% - 11.499975px);
  }

  .u-section-7 .u-text-2 {
    width: 229px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-4 {
    width: 229px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-6 {
    width: 229px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-8 {
    width: 229px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-10 {
    width: 229px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-7 {
    width: 720px;
    height: 720px;
    margin-top: -575px;
    margin-left: -193px;
  }

  .u-section-7 .u-image-8 {
    width: 899px;
    height: 899px;
    margin-top: -1264px;
    margin-left: -275px;
  }

  .u-section-7 .u-image-9 {
    margin-top: -1495px;
    margin-right: -309px;
  }

  .u-section-7 .u-image-10 {
    width: 720px;
    margin-top: -439px;
    margin-right: -185px;
    margin-left: auto;
  }

  .u-section-7 .u-image-11 {
    margin-top: -1550px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2698px;
  }

  .u-section-7 .u-image-1 {
    height: 1044px;
    width: 1044px;
    margin-left: -252px;
    margin-right: -252px;
  }

  .u-section-7 .u-list-1 {
    margin-top: -759px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2170px;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-7 .u-image-7 {
    width: 787px;
    height: 787px;
    margin-top: -590px;
    margin-left: -123px;
    margin-right: -123px;
  }

  .u-section-7 .u-image-8 {
    height: 711px;
    width: 711px;
    margin-top: -1129px;
    margin-left: -86px;
    margin-right: -86px;
  }

  .u-section-7 .u-image-9 {
    height: 818px;
    width: 818px;
    margin-top: -1650px;
    margin-left: -139px;
    margin-right: -139px;
  }

  .u-section-7 .u-image-10 {
    height: 1159px;
    width: 888px;
    margin-top: -535px;
    margin-left: -174px;
    margin-right: -174px;
  }

  .u-section-7 .u-image-11 {
    margin-top: -2195px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2619px;
  }

  .u-section-7 .u-image-1 {
    height: 1063px;
    width: 1063px;
    margin-top: 2px;
    margin-left: -361px;
    margin-right: -361px;
  }

  .u-section-7 .u-list-1 {
    margin-top: -767px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 2214px;
    grid-auto-columns: 100%;
  }

  .u-section-7 .u-image-7 {
    height: 766px;
    width: 766px;
    margin-top: -564px;
    margin-left: -213px;
    margin-right: -213px;
  }

  .u-section-7 .u-image-8 {
    width: 656px;
    height: 656px;
    margin-top: -1094px;
    margin-left: -158px;
    margin-right: -158px;
  }

  .u-section-7 .u-image-9 {
    width: 810px;
    height: 810px;
    margin-top: -1631px;
    margin-left: -235px;
    margin-right: -235px;
  }

  .u-section-7 .u-image-10 {
    height: 1152px;
    width: 882px;
    margin-top: -527px;
    margin-left: -271px;
    margin-right: -271px;
  }

  .u-section-7 .u-image-11 {
    margin-top: -2279px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 455px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 0px;
  width: 618px;
  margin: 44px auto 0;
}

.u-section-8 .u-list-1 {
  width: 276px;
  margin: 7px auto 60px;
}

.u-section-8 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 239px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  font-size: 1.125rem;
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    font-size: 4.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: 7px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
    margin-top: 7px;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: 59px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 226px;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.5rem;
  }
} .u-section-9 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mostafa-commerce.appspot.com/o/carousel-Images%2Fhigh9.png?alt=media&token=2cc99cd1-503f-4727-b0ee-955d696e2751");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 881px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: auto;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 357px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 60px;
}

.u-section-9 .u-text-1 {
  font-size: 1.50rem;
  margin: 70px auto 0;
}

.u-section-9 .u-social-icons-1 {
  height: 159px;
  min-height: 16px;
  width: 334px;
  min-width: 48px;
  white-space: nowrap;
  margin: 39px auto 0;
}

.u-section-9 .u-icon-1 {
  height: 159px;
}

.u-section-9 .u-icon-2 {
  height: 159px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 357px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-image-1 {
  width: 228px;
  height: 228px;
  --radius: 50px;
  margin: 39px auto 0;
}

.u-section-9 .u-text-2 {
  letter-spacing: 0px;
  font-size: 1.15rem;
  margin: 28px 0 0;
}

.u-section-9 .u-image-2 {
  height: 572px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 112px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-top: 40px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 455px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 63px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 43px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-9 .u-image-2 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-text-1 {
    margin-top: 133px;
  }

  .u-section-9 .u-social-icons-1 {
    height: 130px;
    width: 276px;
    margin-top: 12px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 46px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-2 {
    height: 493px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 102px;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 745px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 15px;
    margin-right: 132px;
    margin-left: 136px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-top: 24px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 0;
  }

  .u-section-9 .u-image-1 {
    margin-top: -446px;
  }

  .u-section-9 .u-text-2 {
    margin-top: -276px;
  }

  .u-section-9 .u-image-2 {
    height: 381px;
    margin-top: -249px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 0;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 680px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 51px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-top: 11px;
  }

  .u-section-9 .u-image-1 {
    margin-top: -394px;
    margin-right: 45px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -265px;
  }

  .u-section-9 .u-image-2 {
    height: 250px;
    margin-top: -189px;
    margin-left: initial;
  }
}